.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
.project
img/sketch_1.png
img/sketch_11.png
img/sketch_14.png
img/sketch_15.png
img/sketch_2.png
img/sketch_40.png
